
a:focus{
	color: #000000;
	text-decoration: none;
}
.blog-panel{
	margin-bottom: 10px;
}
.navigation{
	margin-top:10px;
}
.righttabs-1{
	position: fixed;
	right: 40px;
	top: 200px;
	width: 40px;
	height: 40px;
	border: 1px solid #d2d2d2;
	z-index: 10000;
	font-size: 35px;
	line-height: 1.3333333;
	background: #FFFFFF;
	color: #000000;
}
.righttabs-1 a:hover{
	color: #000000;
}
.righttabs-1 a{
	color: #000000;
}
.righttabs-2{
	position: fixed;
	right: 40px;
	top: 260px;
	width: 40px;
	height: 40px;
	border: 1px solid #d2d2d2;
	z-index: 10000;
	font-size: 35px;
	line-height: 1.3333333;
	background: #FFFFFF;
	color: #000000;
}
.righttabs-2 a:hover{
	color: #000000;
}
.righttabs-2 a{
	color: #000000;
}
.righttabs-3{
	position: fixed;
	right: 40px;
	top: 320px;
	width: 40px;
	height: 40px;
	border: 1px solid #d2d2d2;
	z-index: 10000;
	font-size: 35px;
	line-height: 1.3333333;
	background: #FFFFFF;
	color: #000000;
}
.righttabs-3 a:hover{
	color: #000000;
}
.righttabs-3 a{
	color: #000000;
}
.list-group-item-userInfo{
	width: 100px;
	height: 100px;
	display: block;
	border-right: 1px dashed #DDDDDD;
}
.panel-3{
	width:100%;
	height: auto;
	border-radius: 2px;
	border: 1px dashed #DDDDDD;
	background: #FFFFFF;
}
.panel-3 img{
	margin:50px 70px;
	margin-bottom: 20px;
	width: 115px;
	height: 115px;
}
.expertpull{
	height: 50px;
    border-bottom: solid 1px #ebebeb;
    position: relative;
    padding: 0 20px;
    line-height: 50px;
    font-weight:bold;
    background-color: #F0AD4E;
}

.expertpulla{
	color:#000000;
	border-bottom: 3px solid #FF0000;
	padding-bottom: 15px;
	text-decoration:none;
}

.expertpulla:hover{
	text-decoration:none;
	border-bottom-color: #FF0000;
	color:#FF0000;
}
.panelspana{
	margin-top:15px;
	font-size:15px;
	color:#000000;
	position:absolute;
	text-decoration:none;
	line-height: 24px;
    font-family: 'Microsoft YaHei';
    font-weight: normal;
}
.panelspana:hover{
	color:#FF0000;
	text-decoration:none;
}
.panelspana:focus{
	color:#000000;
	text-decoration: none;
}

.media-body-a{
	text-decoration:none;
	color:#333333;
	font-size:17px;
	line-height: 13px;
    font-family: 'Microsoft YaHei';
    font-weight: normal;
}
.media-body-a:hover{
	text-decoration:none;
	color:#FF0000;
}
.media-body-a:focus{
	color:#333333;
	text-decoration: none;
}
.media-body-a-span{
	text-decoration:none;
	color:#999999;
	font-size:10px;
	line-height: 24px;
    font-family: 'Microsoft YaHei';
    font-weight: normal;
}
.media-body-a-span:hover{
	
}
.hota{
	text-decoration:none;
	color:#333333;
	text-overflow: ellipsis;
	width:230px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	font-size:10px;
	line-height: 24px;
	font-family: 'Microsoft YaHei';
	font-weight: normal;
}
.hota:hover{
	color:#FF0000;
	text-decoration: none;
}
.hota:focus{
	text-decoration: none;
	color:#333333;
}
.contactwhitus{
	margin-left: 5px;
	text-decoration:none;
	color:#333333;
	font-size:15px;
	line-height: 24px;
	font-family: 'Microsoft YaHei';
	font-weight: normal;
}
.contactwhitus:hover{
	color:#FF0000;
	text-decoration: none;
}
.contactwhitus:focus{
	text-decoration: none;
	color:#333333;
}
.paginationlia{
	border: none;
	color: #333333;
	background: transparent;
	display: inline;
}
